a:link {
  text-decoration: none;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title-container img {
  display: flex;
  justify-content: center;

  width: 371.1px;
  height: 154.2px;
}




.garden-plots {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  /* Background color: grey */
  background-color: #efefef;
}

.garden-plots:hover {
  /* Background color: Cabbage Pale Green */
  background-color: #96F982;
}

.garden-plots h2 {
  /* Blambot FX Pro Heavy Regular */
  font-family: "blambot-fx-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

.garden-plots li {
  /* Blambot FX Pro Light Regular */
  font-family: "blambot-fx-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.garden-plots li:hover {
  /* Miss Fisher Gold */
  color: #FFCC00;
}

.garden-plots a:hover {
  /* Dark Cabbage Green */
  color: #167e0c;
}



.garden-bits {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  /* Background color: grey */
  background-color: #efefef;
}

.garden-bits:hover {
  /* Background color: Cabbage Pale Green */
  background-color: #96F982;
}

.garden-bits h2 {
  /* Blambot FX Pro Heavy Regular */
  font-family: "blambot-fx-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

.garden-bits li {
  /* Blambot FX Pro Light Regular */
  font-family: "blambot-fx-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.garden-bits li:hover {
  /* Miss Fisher Gold */
  color: #FFCC00;
}

.garden-bits a:hover {
  /* Dark Cabbage Green */
  color: #167e0c;
}





.veggies-dirt {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  /* Background color: grey */
  background-color: #efefef;
}

.veggies-dirt:hover {
  /* Background color: Cabbage Pale Green */
  background-color: #96F982;
}

.veggies-dirt h2 {
  /* Blambot FX Pro Heavy Regular */
  font-family: "blambot-fx-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

.veggies-dirt li {
  /* Blambot FX Pro Light Regular */
  font-family: "blambot-fx-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.veggies-dirt li:hover {
  /* Miss Fisher Gold */
  color: #FFCC00;
}

.veggies-dirt a:hover {
  /* Dark Cabbage Green */
  color: #167e0c;
}




.veggies-clear {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  /* Background color: grey */
  background-color: #efefef;
}

.veggies-clear:hover {
  /* Background color: Cabbage Pale Green */
  background-color: #96F982;
}

.veggies-clear h2 {
  /* Blambot FX Pro Heavy Regular */
  font-family: "blambot-fx-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

.veggies-clear li {
  /* Blambot FX Pro Light Regular */
  font-family: "blambot-fx-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.veggies-clear li:hover {
  /* Miss Fisher Gold */
  color: #FFCC00;
}

.veggies-clear a:hover {
  /* Dark Cabbage Green */
  color: #167e0c;
}





.home {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  /* Background color: grey */
  background-color: #efefef;
}

.home:hover {
  /* Background color: Cabbage Pale Green */
  background-color: #96F982;
}

.home h2 {
  /* Blambot FX Pro Heavy Regular */
  font-family: "blambot-fx-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

.home a:hover {
  /* Dark Cabbage Green */
  color: #167e0c;
}
