.title-container {
  display: flex;
  justify-content: center;
}

.title-container img {
  /* Original dimensions: 1237 X 514 px */
  /* 10%: 123.7 and 51.4 px */
  display: flex;
  justify-content: center;

  width: 371.1px;
  height: 154.2px;
}

.project-one {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  /* Background color: grey */
  background-color: #efefef;
}

.project-one:hover {
  /* Background color: Wardlow Parlour Blue */
  background-color: #00DAF4;
}

.project-one h2 {
  /* Benguiat Pro ITC Medium */
  font-family: "itc-benguiat", serif;
  font-weight: 500;
  font-style: normal;
}

.project-one li {
  /* Benguiat Pro ITC Book Condensed, 12 pts */
  font-family: "itc-benguiat-condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.project-one li:hover {
  /* Miss Fisher Gold */
  color: #FFCC00;
}

.project-one a:hover {
  /* Cream */
  color: #FFF4BD;
}

.exercises {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  background-color: #efefef;
}

.exercises:hover {
  /* Pale Green */
  background-color: #3bd369;
}

.exercises h2 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}

.exercises li {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}

.exercises li:hover {
  /* Miss Fisher Gold */
  color: #FFCC00;
}

.exercises a:hover {
  /* Frosted Red */
  color: #e74144;
}

.tutorials {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  background-color: #efefef;
}

.tutorials:hover {
  /* Frosted Blue */
  background-color: #b3d7fd;
}

.tutorials h2 {
  /* PT Sans font */
  font-family: "pt-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tutorials li {
  /* PT Sans font */
  font-family: "pt-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tutorials li:hover {
  /* Miss Fisher Gold */
  color: #FFCC00;
}

.tutorials a:hover {
  /* Pale gray */
  color: #8b929a;
}

/* Fonts

Benguiat Pro ITC Bold
font-family: itc-benguiat, serif;
font-weight: 700;
font-style: normal;

Benguiat Pro ITC Bold Italic
font-family: itc-benguiat, serif;
font-weight: 700;
font-style: italic;

Benguiat Pro ITC Book
font-family: itc-benguiat, serif;
font-weight: 400;
font-style: normal;

Benguiat Pro ITC Book Italic
font-family: itc-benguiat, serif;
font-weight: 400;
font-style: italic;

Benguiat Pro ITC Medium
font-family: itc-benguiat, serif;
font-weight: 500;
font-style: normal;

Benguiat Pro ITC Medium Italic
font-family: itc-benguiat, serif;
font-weight: 500;
font-style: italic;


Benguiat Pro ITC Bold Condensed
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 700;
font-style: normal;

Benguiat Pro ITC Bold Condensed Italic
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 700;
font-style: italic;

Benguiat Pro ITC Book Condensed
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 400;
font-style: normal;

Benguiat Pro ITC Book Condensed Italic
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 400;
font-style: italic;

Benguiat Pro ITC Medium Condensed
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 500;
font-style: normal;

Benguiat Pro ITC Medium Condensed Italic
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 500;
font-style: italic;

 */
