a:link {
  text-decoration: none;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title-container img {
  display: flex;
  justify-content: center;

  width: 371.1px;
  height: 154.2px;
}

.project-one {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  /* Background color: grey */
  background-color: #efefef;
}

.project-one:hover {
  /* Background color: Wardlow Parlour Blue */
  background-color: #00DAF4;
}

.project-one h2 {
  /* Benguiat Pro ITC Medium */
  font-family: "itc-benguiat", serif;
  font-weight: 500;
  font-style: normal;
}

.project-one li {
  /* Benguiat Pro ITC Book Condensed, 12 pts */
  font-family: "itc-benguiat-condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.project-one li:hover {
  /* Miss Fisher Gold */
  color: #FFCC00;
}

.project-one a:hover {
  /* Cream */
  color: #FFF4BD;
}





.project-two {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  /* Background color: grey */
  background-color: #efefef;
}

.project-two:hover {
  /* Background color: Cabbage Pale Green */
  background-color: #96F982;
}

.project-two h2 {
  /* Blambot FX Pro Heavy Regular */
  font-family: "blambot-fx-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

.project-two h3 {
  /* Blambot FX Pro Heavy Regular */
  font-family: "blambot-fx-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 23px;
  line-height: 5px;
}

.project-two li {
  /* Blambot FX Pro Light Regular */
  font-family: "blambot-fx-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.project-two li:hover {
  /* Miss Fisher Gold */
  color: #FFCC00;
}

.project-two a:hover {
  /* Dark Cabbage Green */
  color: #167e0c;
}





.exercises {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  background-color: #efefef;
}

.exercises:hover {
  /* Raddish Red */
  background-color: #FF4051;
}

.exercises h2 {
  /* Sys TT Bold */
  font-family: "sys-tt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.exercises li {
  /* Sys TT Regular */
  font-family: "sys-tt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.exercises li:hover {
  /* Miss Fisher Gold */
  color: #FFCC00;
}

.exercises a:hover {
  /* Miss Fisher Gold */
  color: #FFCC00;
}





.tutorials {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  background-color: #efefef;
}

.tutorials:hover {
  /* Frosted Blue */
  background-color: #b3d7fd;
}

.tutorials h2 {
  /* PT Sans font */
  font-family: "pt-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tutorials li {
  /* PT Sans font */
  font-family: "pt-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tutorials li:hover {
  /* Miss Fisher Gold */
  color: #FFCC00;
}

.tutorials a:hover {
  /* Pale gray */
  color: #8b929a;
}

/* Fonts:

Comic Serif Pro
font-family: comic-serif-pro, sans-serif;
font-weight: 400;
font-style: normal;

Blambot FX Pro Light Regular
font-family: blambot-fx-pro, sans-serif;
font-weight: 400;
font-style: normal;

Blambot FX Pro Light Italic
font-family: blambot-fx-pro, sans-serif;
font-weight: 400;
font-style: italic;

Blambot FX Pro Heavy Regular
font-family: blambot-fx-pro, sans-serif;
font-weight: 700;
font-style: normal;

Blambot FX Pro Heavy Italic
font-family: blambot-fx-pro, sans-serif;
font-weight: 700;
font-style: italic;

*/
