.whole-thing {

}

.project-one {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  background-color: #efefef;
}

.exercises {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  background-color: #efefef;
}

.exercises h2 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}

.tutorials {
  width: 350px;
  height: 500px;
  float: left;
  margin: 5px;
  padding: 30px;
  background-color: #efefef;
}

.project-one h2 {
  font-family: "itc-benguiat", serif; /* Benguiat Pro ITC Medium Italic */
  font-weight: 500;
  font-style: italic;
}
