/* Body Div */
body {
  padding: 0;

  background-color: green;
  }

/* Div containing all content */
 .everything {
  width: 768px;
  height: 1024px;

  margin-left: auto;
  margin-right: auto;

  background-color: #37CFF6;
  /* Sky Blue */
}

.header {
  position: relative;
  height: 375px;
  text-align: center;

  background-color: #37CFF6;
  /* Sky Blue */
}

.header-text {
  position: absolute;
  top: 200px;
  left: 220px;

  background-color: #A84E0F;
  /* Wood-brown, temporary sign */
}

.header-text h1 {
  font-family: "Helvetica Neue";
  font-size: 50px;
}

.tree-branch {
  background-color: pink;
  position: absolute;
  top: 20px;
  height: 150px;
  width: 750px;
}

.buttons {
  display: flex;
  margin-top: 250px;
}

.build-image {
  position: absolute;
  height: 50px;
  width: 140px;

  left: 414px;
  top: 616px;

  background-color: #A84E0F;
  /* Wood-brown, temporary sign */

  z-index: 98;
}

.build-button {
  margin-left: 120px;
  margin-right: 257px;

  z-index: 99;
}

.gallery-image {
  position: absolute;
  height: 50px;
  width: 160px;

  right: 408px;
  top: 616px;

  background-color: #A84E0F;
  /* Wood-brown, temporary sign */
}

.gallery-button {
  z-index: 99;
}

.shovel {
  position: absolute;
  width: 140px;
  height: 175px;

  left: 414px;
  top: 441px;

  background-color: #C42AF0;
  /* Temporary Image purple */
}

.robin {
  position: absolute;
  width: 140px;
  height: 58px;

  left: 414px;
  top: 383px;

  background-color: #FF4051;
  /* Temporary radish red */
}

.squirrel {
  position: absolute;
  height: 125px;
  width: 160px;

  right: 408px;
  top: 491px;

  background-color: #FF4051;
  /* Temporary radish red */
}

/* Fonts:

Comic Serif Pro
font-family: comic-serif-pro, sans-serif;
font-weight: 400;
font-style: normal;

Blambot FX Pro Light Regular
font-family: blambot-fx-pro, sans-serif;
font-weight: 400;
font-style: normal;

Blambot FX Pro Light Italic
font-family: blambot-fx-pro, sans-serif;
font-weight: 400;
font-style: italic;

Blambot FX Pro Heavy Regular
font-family: blambot-fx-pro, sans-serif;
font-weight: 700;
font-style: normal;

Blambot FX Pro Heavy Italic
font-family: blambot-fx-pro, sans-serif;
font-weight: 700;
font-style: italic;

 */
