/* Main styling: desinged for mobile, specifically iPhone X */
body {
  width: 100%;
}

/* Font and Text Alignment Formatting */

h1 {
  /* Source Sans Pro Extra Light */
  font-family: "source-sans-pro", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 55px;
  text-transform: uppercase;

  text-align: center;
}

h2 {
  /* Nimbus Roman Regular */
  font-family: "nimbus-roman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;

  text-align: center;
}

h3 {
  /* DIN Condensed Regular */
  font-family: "din-condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;

  text-align: center;
}

h4 {
  /* DIN Condensed Regular */
  font-family: "din-condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

h5 {
  /* Roboto Light */
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
}

p {
  /* Roboto Light */
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
}

/* Name and header formatting */

.heading {
  display: flex;
  flex-direction: column;
}

.heading h1 {
  margin-bottom: 0em;
}

.heading h3 {
  margin-top: 0em;
}

/* Education section */

.education h2 {
  margin-bottom: 0.3em;
}

#college {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

#college h4, h5, p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#high-school {
  display: flex;
  flex-direction: column;
}

#high-school h4, h5, p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

/* Work History section */

.work-history h2 {
  margin-bottom: 0.3em;
}

#work {
  display: flex;
  flex-direction: column;
}

#work h4, h5, p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

/* Awards and Activities section */

.awards h2 {
  margin-bottom: 0.3em;
}

#seafair {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

#seafair h4, h5, p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#engineering {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

#engineering h4, h5, p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#ace-mentor {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

#ace-mentor h4, h5, p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#merit {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

#merit h4, h5, p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#second-face {
  display: flex;
  flex-direction: column;
}

#second-face h4, h5, p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

/* Athletics section */

.athletics h2 {
  margin-bottom: 0.3em;
}

#dance {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

#dance h4, h5, p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#volleyball {
  display: flex;
  flex-direction: column;
}

#volleyball h4, h5, p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.skills h2 {
  margin-bottom: 0.3em;
}

#skill-set {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

#skill-set h4 {
  margin-top: 0.2em;
  margin-bottom: 2em;
}

#portfolio {
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;

  margin-top: 1em;
  margin-bottom: 0.2em;
}

#picture {
  display: flex;
  margin: 0 auto;
}

/* iPad Media Query */
@media only screen and (min-width:500px) and (max-width:768px) {
}



/* Desktop Media Query */
@media only screen and (min-width:960px) {

  /* Name and Intent */
  h1 {
    text-align: right;
    margin-right: 1em
  }

  h3 {
    text-align: right;
    margin-right: 3em;
  }

  /* Education */

  .education h2 {
    text-align: left;
    margin-left: 0.5em;
  }

  #college, #high-school {
    margin-left: 1em;
    margin-right: 50%;
  }

  /* Work History */
  .work-history h2 {
    text-align: right;
    margin-right: 0.5em;
  }

  #work {
    text-align: right;
    margin-right: 1em;
    margin-left: 50%;
  }

  /* Awards and Activities */
  .awards h2 {
    text-align: left;
    margin-left: 0.5em;
  }

  #seafair, #engineering, #ace-mentor, #merit, #second-face {
    margin-left: 1em;
    margin-right: 50%;
  }

  /* Athletics */
  .athletics h2 {
    text-align: right;
    margin-right: 0.5em;
  }

  #dance, #volleyball {
    text-align: right;
    margin-right: 1em;
    margin-left: 50%;
  }

  /* Skills */
  .skills h2 {
    text-align: left;
    margin-left: 0.5em;
  }

  #skill-set {
    margin-left: 1em;
    margin-right: 50%;
    margin-bottom: 0.5em;
  }

  /* Portfolio */

  #portfolio {
    text-align: left;
    margin-top: -1em;
    margin-left: 1em;
    margin-right: 50%;
    margin-bottom: 4em;
  }

  /* Footer contact Info */
  .contact {
    display: flex;
    flex-direction: row;

    justify-content: center;

    margin-top: -2em;
  }

  .contact p {
    margin: 0em 2em 0em 2em;
  }
}



/* Font Repository

H1: Source Sans Pro Extra Light
font-family: source-sans-pro, sans-serif;
font-weight: 200;
font-style: normal;

Section Headers: Nimbus Roman Regular
font-family: nimbus-roman, serif;
font-weight: 400;
font-style: normal;

Subhead and locations: DIN Condensed Regular
font-family: din-condensed, sans-serif;
font-weight: 400;
font-style: normal;

Dates and Descriptions: Roboto Light
font-family: roboto, sans-serif;
font-weight: 300;
font-style: normal;

*/
