body {
  background-color: #e3e3e3;  /* Light Gray */
}

#green-froggie {
  position: absolute;
  bottom: -10.95%;
  left: 30.1%;
}

#rel-lily-pad {
  position: relative;
  top: 379px;
  left: 85px;
}

#gold-froggie {
  position: fixed;
  left: 1320px;
  z-index: 99; /* Ony works when position: absolute or position: fixed is applied to the element */
}

#red-froggie {
  position: static;
}
