body {  /* Body Div encapsulating the entire page */
  padding: 0;

  background-color: #00B7CC;  /* Miss Fisher Blue, the parts that get cut off in iPad view */
}

 .whole-thing {  /* Main Body div, encapsulating all the page's content */
  width: 768px;
  height: 1024px;

  margin-left: auto;
  margin-right: auto;

  background-color: #00DAF4;  /* Wardlow Parlour Blue */
}

.centering-box {  /* Large div containing all the info on the page, designed to center the page's contents on the screen */
  width: 723px;
  height: 1024px;

  margin-left: auto;
  margin-right: auto;

  background-color: #00DAF4;  /* Wardlow Parlour Blue */

  position: absolute;
}

.character-and-button h1 { /* Ampersand, in div containing both the character with its analyses and button */
  margin: 0;
  padding: 0;

  font-family: "itc-benguiat", serif; /* Benguait Pro ITC Medium Italic*/
  font-weight: 500;
  font-style: italic;
  font-size: 380px;

  text-align: center;

  position: absolute;
  top: -72px;
  left: 185px;

  z-index: 5; /* Puts it on top of the top right analysis arrow */
}

.character-and-button {  /* Div containing both ampersand (with surrounding space for analyses and arrows) and button */
  width: 708px;
  height: 307px;

  position: absolute;
  top: 97px;
  left: 30px;
}

#button-image {  /* Div nested inside the character-and-button div, containing just the button and the text on that button */
  width: 162px; /* Size of button div container */
  height: 66px;
  display: inline-block;

  position: absolute; /* Position of button div container */
  top: 445px;
  left: 280px;
}

#button-image img { /* PSD image of orange button */
  width: 162px; /* Size of button image */
  height: 104px;

  position: absolute; /* Position of button image */
  top: -20px;
  left: -11px;
}

#button { /* Clickable "PROCEED" text */
  position: absolute; /* Button Position */
  left: 300px;
  top: 467px;

  border: none; /* Background behind text: style and color */
  background-color: #E38142; /* Burnt Orange */
  padding: 0px;

  /* "PROCEED" Text: Benguiat Pro ITC Medium */
  font-family: "itc-benguiat", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #183150; /* Navy */
}

#button:hover { /* Hover state: turn text to gold */
  background-color: #E38142; /* Burnt Orange */
  color: #FFCC00 /* Gold */
}

.top-left-arrow input { /* Top Left Arrow hidden */
  position: absolute;
  top: 95px;
  left: 195px;

  z-index: 99;

  visibility: hidden;
}

.top-left-arrow input.visible { /* Top Left Arrow visible */
  visibility: visible;
}

.top-left-text img { /* Top Left Analysis Text */
  position: absolute;
  top: 115px;
  left: 32px;

  z-index: 99;

  visibility: hidden;
}

.bottom-left-arrow input { /* Bottom Left Arrow hidden */
  position: absolute;
  top: 240px;
  left: 158px;

  z-index: 99;

  visibility: hidden;
}

.bottom-left-arrow input.visible { /* Bottom Left Arrow visible */
  visibility: visible;
}

.bottom-left-text img { /* Bottom Left Analysis Text */
  position: absolute;
  top: 260px;
  left: -7px;

  z-index: 99;

  visibility: hidden;
}

.bottom-left-text img.visible { /* Bottom Left Text visible */
  visibility: visible;
}

.top-right-arrow input { /* Top Right Arrow */
  position: absolute;
  top: 60px;
  right: 243px;

  z-index: 98;

  visibility: hidden;
}

.top-right-arrow input.visible { /* Top Right Arrow visible */
  visibility: visible;
}

.top-right-text img { /* Top Right Analysis Text */
  position: absolute;
  top: 81px;
  right: 22px;

  z-index: 99;

  visibility: hidden;
}

.top-right-text img.visible { /* Top Right Text visible */
  visibility: visible;
}

.middle-right-arrow input { /* Middle Right Arrow */
  position: absolute;
  top: 165px;
  right: 212px;

  z-index: 99;

  visibility: hidden;
}

.middle-right-arrow input.visible { /* Middle Right Arrow visible */
  visibility: visible;
}

.middle-right-text img { /* Middle Right Analysis Text */
  position: absolute;
  top: 185px;
  right: 52px;

  visibility: hidden;
}

.middle-right-text img.visible { /* Middle Right Text visible */
  visibility: visible;
}

.bottom-right-arrow input { /* Bottom Right Arrow */
  position: absolute;
  top: 245px;
  right: 157px;

  z-index: 99;

  visibility: hidden;
}

.bottom-right-arrow input.visible { /* Bottom Right Arrow visible */
  visibility: visible;
}


.bottom-right-text img { /* Bottom Right Analysis Text */
  position: absolute;
  top: 265px;
  right: -3px;

  visibility: hidden;
}

bottom-right-text img.visible { /* Bottom Right Text visible */
  visibility: visible;
}

.sample-characters {
  width: 423px;
  height: 141px;

  position: absolute;
  left: 171px;
  top: 355px;

  font-family: "itc-benguiat", serif; /* Benguiat Pro ITC Medium Italic, 30 pts*/
  font-weight: 500;
  font-style: italic;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.body-copy {
  width: 636px;
  height: 226px;

  margin-top: 608px;
  margin-left: 62px;
}

.body-copy h2 {
  font-family: "itc-benguiat", serif; /* Benguiat Pro ITC Medium Italic, 30 pts*/
  font-weight: 500;
  font-style: italic;
  font-size: 37px;

  margin-bottom: 14px;
}

.body-copy p { /* Benguiat Pro ITC Book Condensed, 12 pts */
  font-family: "itc-benguiat-condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;

  margin-top: -5px;
}

/* TEXT SIZING STRANGENESS: How to make the page so that when someone zooms in, the text stays at its current size? Zooming on Mac via command plus makes the type get way too big and break the bounds of its box */

.picture-and-info {
  width: 210px;
  height: 122px;

  margin-top: 31px;
  margin-left: 38px;
}

.personal-info {

  width: 105px;
  height: 64px;

  margin-left: 105px;
  margin-top: -116px;
}

.personal-info h3 {

  font-family: "itc-benguiat", serif; /* Benguait Pro ITC Medium */
  font-weight: 500;
  font-style: normal;
  font-size: 12px;

  margin-bottom: -7px;
}

.personal-info h4 {

  font-family: "itc-benguiat", serif; /* Benguait Pro ITC Medium */
  font-weight: 500;
  font-style: normal;
  font-size: 10px;

  margin-bottom: -5px;
}

.personal-info p {
  font-family: "itc-benguiat", serif; /* Benguait Pro ITC Medium */
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
}

.citations {
  width: 445px;
  height: 122px;

  margin-left: 250px;
  margin-top: -133px;
}

.citations h3 {
  font-family: "itc-benguiat", serif; /* Benguait Pro ITC Medium */
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}

.citations p{
  font-family: itc-benguiat, serif; /* Benguait Pro ITC Book */
  font-weight: 400;
  font-style: normal;
  font-size: 10px;

  margin-top: -10px; /* For spacing between lines of text */

  padding-left: 22px ;
  text-indent: -24px ;
}



/* Fonts

Benguiat Pro ITC Bold
font-family: itc-benguiat, serif;
font-weight: 700;
font-style: normal;

Benguiat Pro ITC Bold Italic
font-family: itc-benguiat, serif;
font-weight: 700;
font-style: italic;

Benguiat Pro ITC Book
font-family: itc-benguiat, serif;
font-weight: 400;
font-style: normal;

Benguiat Pro ITC Book Italic
font-family: itc-benguiat, serif;
font-weight: 400;
font-style: italic;

Benguiat Pro ITC Medium
font-family: itc-benguiat, serif;
font-weight: 500;
font-style: normal;

Benguiat Pro ITC Medium Italic
font-family: itc-benguiat, serif;
font-weight: 500;
font-style: italic;


Benguiat Pro ITC Bold Condensed
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 700;
font-style: normal;

Benguiat Pro ITC Bold Condensed Italic
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 700;
font-style: italic;

Benguiat Pro ITC Book Condensed
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 400;
font-style: normal;

Benguiat Pro ITC Book Condensed Italic
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 400;
font-style: italic;

Benguiat Pro ITC Medium Condensed
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 500;
font-style: normal;

Benguiat Pro ITC Medium Condensed Italic
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 500;
font-style: italic;

 */
