/* Body Div */
body {
  padding: 0;

  background-color: #00B7CC;
  /* Miss Fisher Blue, the parts that get cut off in iPad view */
}

/* Div containing all content */
 .whole-thing {
  width: 768px;

  margin-left: auto;
  margin-right: auto;

  background-color: #00DAF4;
  /* Wardlow Parlour Blue */
}

 /* Centering box div */
.centering-box {
  width: 723px;
  height: 1024px;

  margin-left: auto;
  margin-right: auto;

  background-color: #00DAF4;
 /* Wardlow Parlour Blue */
}

/* Ampersand and Proceed button */
.character-and-button {
  width: 708px;
  height: 307px;
}

/* Ampersand */
.character-and-button h1 {
  margin-top: -75px;
  margin-bottom: -100px;
  padding: 0;

/* Benguait Pro ITC Medium Italic*/
  font-family: "itc-benguiat", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 380px;

  text-align: center;

}

 /* Clickable button and background image */
#button-image {
  /* Size of button div container */
  width: 162px;
  height: 66px;

  margin: 0 auto;

  position: relative;
}

/* PSD image of orange button */
#button-image img {
  /* Size of button image */
  width: 162px;
  height: 104px;

}

/* Clickable "PROCEED" text */
#button {
  /* Button Position */
  position: absolute;
  left: 32px;
  top: 41px;

/* Background behind text: style and color */
  border: none;
  background-color: #E38142;
  /* Burnt Orange */
  padding: 0px;

  /* "PROCEED" Text: Benguiat Pro ITC Medium */
  font-family: "itc-benguiat", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #183150;
  /* Navy */
}

/* Hover state: turn text to gold */
#button:hover {
  background-color: #E38142;
  /* Burnt Orange */

  color: #FFCC00;
  /* Gold */
}

#button:focus {
  outline: 0;
}

/* Arrows and text pop-ups */
.all-analysis {
  position: relative;
  margin-top: -350px
}

/* Top Left Arrow hidden */
.top-left-arrow input {
  position: absolute;
  top: 99px;
  left: 206px;

  z-index: 99;

  visibility: hidden;
}

/* Top Left Arrow visible */
.top-left-arrow input.visible {
  visibility: visible;
}

.top-left-arrow input.visible:focus {
  outline: 0;
}

/* Top Left Analysis Text */
#top-left-text input {
  position: absolute;
  top: 119px;
  left: 45px;

  z-index: 99;

  visibility: hidden;
}

/* Top Left Text visible */
#top-left-text input.visible {
  visibility: visible;
}

#top-left-text input.visible:focus {
  outline: 0;
}

/* Bottom Left Arrow hidden */
.bottom-left-arrow input {
  position: absolute;
  top: 245px;
  left: 170px;

  z-index: 99;

  visibility: hidden;
}

/* Bottom Left Arrow visible */
.bottom-left-arrow input.visible {
  visibility: visible;
}

.bottom-left-arrow input.visible:focus {
  outline: 0;
}

/* Bottom Left Analysis Text */
#bottom-left-text input {
  position: absolute;
  top: 266px;
  left: 7px;

  z-index: 99;

  visibility: hidden;
}

/* Bottom Left Text visible */
#bottom-left-text input.visible {
  visibility: visible;
}

#bottom-left-text input.visible:focus {
  outline: 0;
}

/* Top Right Arrow hidden */
.top-right-arrow input {
  position: absolute;
  top: 65px;
  right: 235px;

  z-index: 98;

  visibility: hidden;
}

/* Top Right Arrow visible */
.top-right-arrow input.visible {
  visibility: visible;
}

.top-right-arrow input.visible:focus {
  outline: 0;
}

/* Top Right Analysis Text */
#top-right-text input {
  position: absolute;
  top: 81px;
  right: 22px;

  z-index: 99;

  visibility: hidden;
}

/* Top Right Text visible */
#top-right-text input.visible {
  visibility: visible;
}

#top-right-text input.visible:focus {
  outline: 0;
}

/* Middle Right Arrow */
.middle-right-arrow input {
  position: absolute;
  top: 170px;
  right: 206px;

  z-index: 99;

  visibility: hidden;
}

/* Middle Right Arrow visible */
.middle-right-arrow input.visible {
  visibility: visible;
}

.middle-right-arrow input.visible:focus {
  outline: 0;
}

/* Middle Right Analysis Text */
#middle-right-text input {
  position: absolute;
  top: 191px;
  right: 47px;

  visibility: hidden;
}

/* Middle Right Text visible */
#middle-right-text input.visible {
  visibility: visible;
}

#middle-right-text input.visible:focus {
  outline: 0;
}

/* Bottom Right Arrow */
.bottom-right-arrow input {
  position: absolute;
  top: 249px;
  right: 149px;

  z-index: 99;

  visibility: hidden;
}

/* Bottom Right Arrow visible */
.bottom-right-arrow input.visible {
  visibility: visible;
}

.bottom-right-arrow input.visible:focus {
  outline: 0;
}

/* Bottom Right Analysis Text */
#bottom-right-text input {
  position: absolute;
  top: 270px;
  right: -11px;

  visibility: hidden;
}

/* Bottom Right Text visible */
#bottom-right-text input.visible {
  visibility: visible;
}

#bottom-right-text input.visible:focus {
  outline: 0;
}


/* Sample character set */
.sample-characters {
  width: 423px;

  margin: 0 auto;
  margin-top: 150px;

  /* Benguiat Pro ITC Medium Italic, 30 pts*/
  font-family: "itc-benguiat", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

/* Font name and body paragraphs */
.body-copy {

  width: 636px;
  height: 226px;

  margin-top: -17px;
  margin-left: 45px;
}

/* Font name */
.body-copy h2 {

   /* Benguiat Pro ITC Medium Italic, 30 pts*/
  font-family: "itc-benguiat", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 37px;

  margin-bottom: 14px;
}

/* Body paragraphs */
.body-copy p {

  /* Benguiat Pro ITC Book Condensed, 12 pts */
  font-family: "itc-benguiat-condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;

  margin-top: -5px;
}

/* TEXT SIZING STRANGENESS: How to make the page so that when someone zooms in, the text stays at its current size? Zooming on Mac via command plus makes the type get way too big and break the bounds of its box */

/* Picture and personal information */
.picture-and-info {
  width: 210px;
  height: 122px;

  margin-top: 31px;
  margin-left: 38px;
}

/* Personal info specifically */
.personal-info {
  width: 105px;
  height: 64px;

  margin-left: 105px;
  margin-top: -116px;
}

/* Name in personal info */
.personal-info h3 {

  /* Benguait Pro ITC Medium */
  font-family: "itc-benguiat", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;

  margin-bottom: -7px;
}

/* Year in personal info */
.personal-info h4 {

  /* Benguait Pro ITC Medium */
  font-family: "itc-benguiat", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 10px;

  margin-bottom: -5px;
}

/* Major in personal info */
.personal-info p {

  /* Benguait Pro ITC Medium */
  font-family: "itc-benguiat", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
}

.citations {
  width: 445px;
  height: 122px;

  margin-left: 250px;
  margin-top: -133px;
}

/* Sources header in citations` */
.citations h3 {

  /* Benguait Pro ITC Medium */
  font-family: "itc-benguiat", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}

/* Individual citations */
.citations p {

  /* Benguait Pro ITC Book */
  font-family: itc-benguiat, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;

  margin-top: -10px;
  /* For spacing between lines of text */

  padding-left: 22px ;
  text-indent: -24px ;
}

.citations p:focus {
  outline: 0;
}

a:link {
  /* Get rid of the underlined-link look */
  text-decoration: none;
  /* Change the default link color to burnt orange, echoing Proceed button */
  color: #E38142;
}

a:visited {
  /* Return link color to burnt orange, echoing Proceed button */
  color: #E38142;
}

a:hover {
  /* Hover state cream, whether or not the link has been visited */
  color: #FFF4BD;
}


/* Fonts

Benguiat Pro ITC Bold
font-family: itc-benguiat, serif;
font-weight: 700;
font-style: normal;

Benguiat Pro ITC Bold Italic
font-family: itc-benguiat, serif;
font-weight: 700;
font-style: italic;

Benguiat Pro ITC Book
font-family: itc-benguiat, serif;
font-weight: 400;
font-style: normal;

Benguiat Pro ITC Book Italic
font-family: itc-benguiat, serif;
font-weight: 400;
font-style: italic;

Benguiat Pro ITC Medium
font-family: itc-benguiat, serif;
font-weight: 500;
font-style: normal;

Benguiat Pro ITC Medium Italic
font-family: itc-benguiat, serif;
font-weight: 500;
font-style: italic;


Benguiat Pro ITC Bold Condensed
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 700;
font-style: normal;

Benguiat Pro ITC Bold Condensed Italic
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 700;
font-style: italic;

Benguiat Pro ITC Book Condensed
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 400;
font-style: normal;

Benguiat Pro ITC Book Condensed Italic
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 400;
font-style: italic;

Benguiat Pro ITC Medium Condensed
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 500;
font-style: normal;

Benguiat Pro ITC Medium Condensed Italic
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 500;
font-style: italic;

 */
