body {  /* Body Div encapsulating the entire page */
  padding: 0;

  background-color: #00B7CC;  /* Miss Fisher Blue, the parts that get cut off in iPad view */
}

 .whole-thing {  /* Main Body div, encapsulating all the page's content */
  width: 768px;
  height: 1024px;

  margin-left: auto;
  margin-right: auto;

  background-color: #00DAF4;  /* Wardlow Parlour Blue */
}

.centering-box {  /* Large div containing all the info on the page, designed to center the page's contents on the screen */
  width: 723px;
  height: 1024px;

  margin-left: auto;
  margin-right: auto;

  background-color: #00DAF4;  /* Wardlow Parlour Blue */

  position: absolute;
}

.character-and-button h1 { /* Ampersand, in div containing both the character with its analyses and button */
  margin: 0;
  padding: 0;

  font-family: "itc-benguiat", serif; /* Benguait Pro ITC Medium Italic*/
  font-weight: 500;
  font-style: italic;
  font-size: 380px;

  text-align: center;

  position: absolute;
  top: -72px;
  left: 185px;

  z-index: 5; /* Puts it on top of the top right analysis arrow */
}

.character-and-button {  /* Div containing both ampersand (with surrounding space for analyses and arrows) and button */
  width: 708px;
  height: 307px;

  position: absolute;
  top: 97px;
  left: 30px;
}

#button-image {  /* Div nested inside the character-and-button div, containing just the button and the text on that button */
  width: 162px; /* Size of div container */
  height: 66px;
  display: inline-block;

  position: absolute; /* Position of div container */
  top: 445px;
  left: 280px;
}

#button-image img { /* PSD image of button */
  width: 162px; /* Size of button image */
  height: 104px;

  position: absolute; /* Position of button image */
  top: -20px;
  left: -11px;
}

button {
  position: absolute; /* Button Position */
  left: 300px;
  top: 467px;

  border: none; /* Button Style and Color */
  background-color: #E38142; /* Burnt Orange */
  padding: 0px;

  /* Button Text: Benguiat Pro ITC Medium */
  font-family: "itc-benguiat", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #183150; /* Navy */
}

button:hover {
  background-color: #E38142; /* Burnt Orange */
  color: #FFCC00 /* Gold */
}

.top-left-analysis img { /* Top Left Arrow */
  width: 66px;  /* Original size: 3300 px, 10% = 33 px*/
  height: 51px; /* Original size: 2550 px, 10% = 25.5 px*/

  position: absolute;
  top: 95px;
  left: 195px;
}

.bottom-left-analysis img { /* Bottom Left Arrow */
  width: 66px;  /* Original size: 3300 px, 10% = 33 px*/
  height: 51px; /* Original size: 2550 px, 10% = 25.5 px*/

  position: absolute;
  top: 240px;
  left: 158px;
}

.top-right-analysis img { /* Top Right Arrow */
  width: 66px;  /* Original size: 3300 px, 10% = 33 px*/
  height: 51px; /* Original size: 2550 px, 10% = 25.5 px*/

  position: absolute;
  top: 60px;
  right: 243px;
}

.middle-right-analysis img { /* Middle Right Arrow */
  width: 66px;  /* Original size: 3300 px, 10% = 33 px*/
  height: 51px; /* Original size: 2550 px, 10% = 25.5 px*/

  position: absolute;
  top: 165px;
  right: 212px;
}

.bottom-right-analysis img { /* Bottom Right Arrow */
  width: 66px;  /* Original size: 3300 px, 10% = 33 px*/
  height: 51px; /* Original size: 2550 px, 10% = 25.5 px*/

  position: absolute;
  top: 245px;
  right: 157px;
}

.sample-characters {
  width: 423px;
  height: 141px;

  position: absolute;
  left: 171px;
  top: 355px;

  font-family: "itc-benguiat", serif; /* Benguiat Pro ITC Medium Italic, 30 pts*/
  font-weight: 500;
  font-style: italic;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.body-copy {
  width: 636px;
  height: 226px;

  margin-top: 608px;
  margin-left: 62px;
}

.body-copy h2 {
  font-family: "itc-benguiat", serif; /* Benguiat Pro ITC Medium Italic, 30 pts*/
  font-weight: 500;
  font-style: italic;
  font-size: 37px;

  margin-bottom: 14px;
}

.body-copy p { /* Benguiat Pro ITC Book Condensed, 12 pts */
  font-family: "itc-benguiat-condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;

  margin-top: -5px;
}

/* TEXT SIZING STRANGENESS: How to make the page so that when someone zooms in, the text stays at its current size? Zooming on Mac via command plus makes the type get way too big and break the bounds of its box */

.picture-and-info {
  width: 210px;
  height: 122px;

  margin-top: 31px;
  margin-left: 38px;
}

.personal-info {

  width: 105px;
  height: 64px;

  margin-left: 105px;
  margin-top: -116px;
}

.personal-info h3 {

  font-family: "itc-benguiat", serif; /* Benguait Pro ITC Medium */
  font-weight: 500;
  font-style: normal;
  font-size: 12px;

  margin-bottom: -7px;
}

.personal-info h4 {

  font-family: "itc-benguiat", serif; /* Benguait Pro ITC Medium */
  font-weight: 500;
  font-style: normal;
  font-size: 10px;

  margin-bottom: -5px;
}

.personal-info p {
  font-family: "itc-benguiat", serif; /* Benguait Pro ITC Medium */
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
}

.citations {
  width: 445px;
  height: 122px;

  margin-left: 250px;
  margin-top: -133px;
}

.citations h3 {
  font-family: "itc-benguiat", serif; /* Benguait Pro ITC Medium */
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}

.citations p{
  font-family: itc-benguiat, serif; /* Benguait Pro ITC Book */
  font-weight: 400;
  font-style: normal;
  font-size: 10px;

  margin-top: -10px; /* For spacing between lines of text */

  padding-left: 22px ;
  text-indent: -24px ;
}



/* Fonts

Benguiat Pro ITC Bold
font-family: itc-benguiat, serif;
font-weight: 700;
font-style: normal;

Benguiat Pro ITC Bold Italic
font-family: itc-benguiat, serif;
font-weight: 700;
font-style: italic;

Benguiat Pro ITC Book
font-family: itc-benguiat, serif;
font-weight: 400;
font-style: normal;

Benguiat Pro ITC Book Italic
font-family: itc-benguiat, serif;
font-weight: 400;
font-style: italic;

Benguiat Pro ITC Medium
font-family: itc-benguiat, serif;
font-weight: 500;
font-style: normal;

Benguiat Pro ITC Medium Italic
font-family: itc-benguiat, serif;
font-weight: 500;
font-style: italic;


Benguiat Pro ITC Bold Condensed
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 700;
font-style: normal;

Benguiat Pro ITC Bold Condensed Italic
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 700;
font-style: italic;

Benguiat Pro ITC Book Condensed
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 400;
font-style: normal;

Benguiat Pro ITC Book Condensed Italic
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 400;
font-style: italic;

Benguiat Pro ITC Medium Condensed
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 500;
font-style: normal;

Benguiat Pro ITC Medium Condensed Italic
font-family: itc-benguiat-condensed, sans-serif;
font-weight: 500;
font-style: italic;

 */
