/* Why is the top margin on this page larger than the top margin on the build and home pages? */

/* Trying to position the title h2 text throws off all the gallery images and buttons in their flexbox container -- what's happening? */

/* Body Div */
body {
  padding: 0;

  background-color: red;

  font-family: "Helvetica Neue"
  }

/* Div containing all content */
 .everything {
  width: 768px;
  height: 1024px;

  margin-left: auto;
  margin-right: auto;

  background-color: #37CFF6;
  /* Sky Blue */
}

.home-button {
  float: left;

  width: 183px;
  height: 81px;

  margin-left: 12px;

  background-color: #96F982;
  /* Cabbage Green */

}

.nav-bar {
  position: relative;

  text-align: center;

}

.title-card {
  float: left;

  width: 378px;
  height: 81px;

  background-color: #A84E0F;
  /* Wood-brown, temporary sign */
}

.build-button {
  float: left;

  width: 183px;
  height: 81px;

  background-color: #96F982;
  /* Cabbage Green */
}

.home-button a {
  position: absolute;
  top: 30px;
  left: 75px;
}

.build-button a {
  position: absolute;
  top: 30px;
  right: 50px;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

.gallery-one {
  float: left;
  margin: 40px;
  padding: 5px;

}

.gallery-one-image {
  width: 159px;
  height: 192px;

  background-color: #C42AF0;
  /* Temporary Image purple */
}

.button-bin-one {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.button-bin-one button {
  margin-top: 10px;
}


.gallery-two {
  float: left;
  margin: 40px;
  padding: 5px;
}


.gallery-two-image {
  width: 159px;
  height: 192px;

  background-color: #C42AF0;
  /* Temporary Image purple */
}

.button-bin-two {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.button-bin-two button {
  margin-top: 10px;
}

.gallery-three {
  float: left;
  margin: 40px;
  padding: 5px;

}

.gallery-three-image {
  width: 159px;
  height: 192px;

  background-color: #C42AF0;
  /* Temporary Image purple */
}

.button-bin-three {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.button-bin-three button {
  margin-top: 10px;
}

.gallery-four {
  float: left;
  margin: 40px;
  padding: 5px;

}

.gallery-four-image {
  width: 159px;
  height: 192px;

  background-color: #C42AF0;
  /* Temporary Image purple */
}

.button-bin-four {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.button-bin-four button {
  margin-top: 10px;
}

.gallery-five {
  float: left;
  margin: 40px;
  padding: 5px;

}

.gallery-five-image {
  width: 159px;
  height: 192px;

  background-color: #C42AF0;
  /* Temporary Image purple */
}

.button-bin-five {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.button-bin-five button {
  margin-top: 10px;
}

.gallery-six {
  float: left;
  margin: 40px;
  padding: 5px;

}

.gallery-six-image {
  width: 159px;
  height: 192px;

  background-color: #C42AF0;
  /* Temporary Image purple */
}

.button-bin-six {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.button-bin-six button {
  margin-top: 10px;
}
